.album-show-container {
    display: flex;
    height: 100%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.album-show-left{
    width: 100%;
    margin-right: 180px;
}

.album-show-title{
    width: 100%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.album-show-artist{
    font-size: 13px;
}
.album-show-right{

}
.album-show-profile{
    width: 150px;
    height: 100px;
    border-color: black;
    border: black;
    object-fit: cover;
    padding-left: 60px;
}

.album-show-under-profile{
    padding-left: 60px;
}

.album-show-location{
    font-size: 12px;
    color: grey;
}

.album-show-description{
    font-size: 11px;
    width: 100%;
    word-wrap: break-word;
}

.album-art{
    width: 320px;
    height: 320px;
    margin-left: 40px;
    border-color: black;
    border: black;
    object-fit: cover;
}

.tracks{
    display: flex;
    margin-top: 40px;
    list-style-type: none;
    flex-direction: column;
    white-space: nowrap;
}

.track{
    margin-top: 5px;
}

.playing-track{
    margin-top: 20px;
    display: flex;
    white-space: nowrap;
    height: 21px;
}

.currentTrack{
    margin-left: 10px;
    margin-top: 10px;
}

.track-in-list{
    margin-left: 5px;
    font-size: 14px;
    line-height: 40px;
}

.play-button{
    width: 20px;
    height: 20px;
    // content: url("./play.png");
}

.pause{
    width: 50px;
    height: 50px;
    // content: url("./pause.png");

}

.play{
    width: 50px;
    height: 50px;
    // content: url("./play.png");

}