.profile-picture-container{
    display: inline-block;
    width: 210px;
    margin: -30px 38px 0 0;
    padding-top: 80px;
    padding-left: 158px;
    
}

.profile-picture{
    width: 210px;
    height: 210px;
    border-color: black;
    border: black;
    object-fit: cover;
}

.user-bio-username{
    font-size: 30px;
    text-align: center;
}
.bio{
    display: inline-flex;
    align-items: top;
    height: 100px;
    position: relative;
    bottom: 140px;
}

.below-username{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 103px;
    margin-top: 5px;
    
}

.user-bio-grey{
    color:#828282;
    font-size: small;
    padding-bottom: 2px;
}
.user-bio-description{
    padding-top: 5px;
}

.album-create-link{
    border: 1px solid #939497;
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 9px;
    color: #939497;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding-bottom: 10%;
 
}

.discover{
    display: flex;
    padding-top: 70px;
    width: 100%;
}
.discover-container{
}