.profile-picture-container{
    display: inline-block;
    width: 210px;
    margin: -30px 38px 0 0;
    padding-top: 80px;
    padding-left: 158px;
    
}

.profile-picture{
    width: 210px;
    height: 210px;
    border-color: black;
    border: black;
    object-fit: cover;
}

.user-bio-username{
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
    white-space: nowrap;
}
.bio{
    display: inline-flex;
    align-items: top;
    height: 100px;
    position: relative;
    bottom: 140px;
}

.below-username{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 103px;
    margin-top: 5px;
    
}

.user-bio-location{
    color:#828282;
    font-size: small;
    padding-bottom: 2px;
    padding-top: 160px;
}

.user-bio-genre{
     color:#828282;
    font-size: small;
    padding-bottom: 2px;
}
.user-bio-grey{
    color:#828282;
    font-size: small;
    padding-bottom: 2px;
}
.user-bio-description{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 800px;
    word-wrap: break-word;
}

.album-create-link{
    border: 1px solid #939497;
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 9px;
    color: #6c6c6d;
    text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding-bottom: 10%;
}

.discover{
    display: flex;
    padding-top: 40px;
    width: 100%;
    padding-bottom: 15px;
}

.user-bio{
    display: flex;
}

.album-link{
    color: black;
    text-decoration: none;
}

.user-config-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.user-edit-link{
    border: 1px solid #939497;
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 9px;
    color: #6c6c6d;
    text-decoration: none;
    margin-top: -1px;
    margin-left: 10px;
}

.user-edit-link:hover{
    cursor: pointer;
}

.user-bio-location-edit{
    color:#828282;
    font-size: small;
    padding-bottom: 2px;
    margin-top: 160px;
    width: 200px;
}

.user-bio-genre-edit{
     color:#828282;
    font-size: small;
    padding-bottom: 2px;
    width: 200px;
}

.user-bio-description-edit{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 800px;
    word-wrap: break-word;
    min-height: 200px;
    resize: none;
}

.user-config-buttons-edit{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 624px;
}